<%- include('../partials/header') %>
<h1>Men's Collection</h1>
 
<% watches.forEach(function(w) { %>
      <ul>
        <li><%= w.title %></li>
        <li><%= w.description %></li>
        <li><a href="/watches/<%= w._id %>">Details</a></li>
      </ul>
      <% }); %>
      
<%- include('../partials/footer') %>
